In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Fetch data from database

In [37]:
df = pd.read_csv(r"Database.csv")
df = df.set_index('Dish')

dfT = pd.read_csv(r"DatabaseTransposed.csv")
dfT.set_index('Person')

,Stroopwaffle,Tuna Subway,Kebab,Appelflap,Hamkaas,Pancakes (Slavic grandmas),GEWIS sandwich,Dry crackers
Person,,,,,,,,
Iva,2,NaN,NaN,2,1,NaN,1,NaN
Emo,2,1.0,2.0,2,1,2.0,1,-1.0
Momo,2,2.0,2.0,-1,2,2.0,-1,0.0
Svetlana,1,0.0,-2.0,-1,1,2.0,-1,1.0
Teddie,-1,2.0,-2.0,-1,0,2.0,1,1.0
Martina,0,2.0,1.0,1,0,2.0,1,-1.0

# Add vector lengths

In [51]:
#dfT = dfT.set_index('Person')
dfT['Sum'] = 0

for row in df:
    dfT.loc[row, 'Sum'] = df[row].sum()

dfT

,Stroopwaffle,Tuna Subway,Kebab,Appelflap,Hamkaas,Pancakes (Slavic grandmas),GEWIS sandwich,Dry crackers,Sum
Person,,,,,,,,,
Iva,2,NaN,NaN,2,1,NaN,1,NaN,6
Emo,2,1.0,2.0,2,1,2.0,1,-1.0,10
Momo,2,2.0,2.0,-1,2,2.0,-1,0.0,8
Svetlana,1,0.0,-2.0,-1,1,2.0,-1,1.0,1
Teddie,-1,2.0,-2.0,-1,0,2.0,1,1.0,2
Martina,0,2.0,1.0,1,0,2.0,1,-1.0,6