In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
df = pd.read_csv(r"Database.csv")
df.head(8)
df.set_index('Dish')

                            Iva  Emo  Momo  Svetlana  Teddie  Martina
Dish
Stroopwaffle                2.0    2     2         1      -1        0
Tuna Subway                 NaN    1     2         0       2        2
Kebab                       NaN    2     2        -2      -2        1
Appelflap                   2.0    2    -1        -1      -1        1
Hamkaas                     1.0    1     2         1       0        0
Pancakes (Slavic grandmas)  NaN    2     2         2       2        2
GEWIS sandwich              1.0    1    -1        -1       1        1
Dry crackers                NaN   -1     0         1       1       -1