# Task 2 - Google Page Rank
Also ranking pigeons ->>>

## Import required libraries
Pandas - load dataframe exported as cvs from excel <br>
Numpy - numeric operations on matrices <br>

In [1]:
import pandas as pd
import numpy as np
from numpy import array, matmul, dot, transpose
from numpy.linalg import eig, eigh, eigvals, eigvalsh
from pandas import DataFrame
from numpy import int64

## Part 1

Load .cvs file from internal folder and set needed variables (i.e. matrix dimensions) <br>
```NaN``` values are 0, so fill them in using ```.fillna()```

In [2]:
df = pd.read_csv(r"Matrix.csv")
page_count = int(df.size**.5)
df.set_index('page', inplace=True)
df.head(page_count + 1)

,columbidae,domestic pigeon,passenger pigeon,dodo,obsolescence,telegraph,pigeon post,vacuum tubes,flag semaphore,homing pigeon
page,,,,,,,,,,
columbidae,0,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0
domestic pigeon,1,0,0,0,0.0,NaN,NaN,NaN,NaN,1.0
passenger pigeon,1,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
dodo,1,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
obsolescence,0,0,0,1,0.0,NaN,NaN,NaN,NaN,NaN
telegraph,0,0,0,0,1.0,0.0,1.0,NaN,1.0,NaN
pigeon post,0,0,0,0,NaN,1.0,0.0,NaN,NaN,1.0
vacuum tubes,0,0,0,0,1.0,NaN,NaN,0.0,NaN,NaN
flag semaphore,0,0,0,0,0.0,1.0,NaN,NaN,0.0,NaN
homing pigeon,0,1,0,0,0.0,NaN,NaN,NaN,NaN,0.0

In [3]:
df.fillna(0, inplace=True)
df = df.astype(float)
df.head(page_count + 1)

,columbidae,domestic pigeon,passenger pigeon,dodo,obsolescence,telegraph,pigeon post,vacuum tubes,flag semaphore,homing pigeon
page,,,,,,,,,,
columbidae,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
domestic pigeon,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
passenger pigeon,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
dodo,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
obsolescence,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
telegraph,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
pigeon post,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
vacuum tubes,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
flag semaphore,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
homing pigeon,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_test = df.copy()
df_test.head(page_count + 1)

,columbidae,domestic pigeon,passenger pigeon,dodo,obsolescence,telegraph,pigeon post,vacuum tubes,flag semaphore,homing pigeon
page,,,,,,,,,,
columbidae,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
domestic pigeon,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
passenger pigeon,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
dodo,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
obsolescence,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
telegraph,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
pigeon post,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
vacuum tubes,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
flag semaphore,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
homing pigeon,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Create a column-stochastic matrix in the form of a DF
Stick to dataframes for easier visiualizations of the transformations applied

In [5]:
def colum_stoch(df_matrix: DataFrame) -> DataFrame:
    '''
    colum_stoch(df_matrix)
    
    Column-stochastic DataFrame
    
    Parameters
    ----------
    df_matrix : DataFrame
        Input DataFrame, arrays not allowed.
        
    Returns
    -------
    df_matrix : DataFrame
        Column-stochastic DataFrame
    '''

    n = page_count
    cols = df_matrix.columns
    rows = df_matrix.index
    for i in cols: 
        summ = 0
        for j in rows:
            summ += float(df_matrix.loc[j, i])
        for k in rows:
            if summ == 0:
                df_matrix.loc[k,i] = 1/n
            else:
                df_matrix.loc[k,i] /= summ
    return df_matrix
colum_stoch(df_matrix=df_test).head(page_count + 1)

,columbidae,domestic pigeon,passenger pigeon,dodo,obsolescence,telegraph,pigeon post,vacuum tubes,flag semaphore,homing pigeon
page,,,,,,,,,,
columbidae,0.000000,0.5,1.0,0.5,0.0,0.0,0.0,0.1,0.0,0.0
domestic pigeon,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.5
passenger pigeon,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0
dodo,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0
obsolescence,0.000000,0.0,0.0,0.5,0.0,0.0,0.0,0.1,0.0,0.0
telegraph,0.000000,0.0,0.0,0.0,0.5,0.0,1.0,0.1,1.0,0.0
pigeon post,0.000000,0.0,0.0,0.0,0.0,0.5,0.0,0.1,0.0,0.5
vacuum tubes,0.000000,0.0,0.0,0.0,0.5,0.0,0.0,0.1,0.0,0.0
flag semaphore,0.000000,0.0,0.0,0.0,0.0,0.5,0.0,0.1,0.0,0.0
homing pigeon,0.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0

## Transform according to the Google Page rank algorithm 

P.S. Take liberty in assigning the p values to test the effects, I'll just leave it at 0.85 for generality.

In [6]:
def mat_rank(df: DataFrame, p: int) -> list:
    '''
    mat_rank(df, p)
    
    A Google Ranking inspired matrix
    
    Parameters
    ----------
    df : DataFrame
        Input DataFrame, arrays not allowed.
    
    p : float
        Input float.
    
    Returns
    -------
    A.transpose() : 2D array
        2D array that contains the Google Page Rank matrix.
    '''

    n = page_count
    matrix = df.transpose().to_numpy()
    A = p * matrix + (1 - p)/n
    return A.transpose()
A = mat_rank(df=df_test, p= 0.85)

#This step is added just to help visualize the processes executed above
e_dataframe = pd.DataFrame(A)
e_dataframe.head(page_count + 1)

          0      1      2      3      4      5      6    7      8      9
0  0.015000  0.440  0.865  0.440  0.015  0.015  0.015  0.1  0.015  0.015
1  0.298333  0.015  0.015  0.015  0.015  0.015  0.015  0.1  0.015  0.440
2  0.298333  0.015  0.015  0.015  0.015  0.015  0.015  0.1  0.015  0.015
3  0.298333  0.015  0.015  0.015  0.015  0.015  0.015  0.1  0.015  0.015
4  0.015000  0.015  0.015  0.440  0.015  0.015  0.015  0.1  0.015  0.015
5  0.015000  0.015  0.015  0.015  0.440  0.015  0.865  0.1  0.865  0.015
6  0.015000  0.015  0.015  0.015  0.015  0.440  0.015  0.1  0.015  0.440
7  0.015000  0.015  0.015  0.015  0.440  0.015  0.015  0.1  0.015  0.015
8  0.015000  0.015  0.015  0.015  0.015  0.440  0.015  0.1  0.015  0.015
9  0.015000  0.440  0.015  0.015  0.015  0.015  0.015  0.1  0.015  0.015

## Get Eigenvalues and Eigenvector
Because there is no built in function in numpy, we chose to create a function that unpacks the Eigenvalues and Eigenvectors <br>
and then finds the Eigenvector that matches to the Eigenvalue 1 with some minimal error. <br>
*View ```.near()``` for specifics

In [7]:
def near(a: float|list, b: float, rtol = 1e-5, atol = 1e-8) -> bool:
    '''
    near(a: float|list, b: float, rtol = 1e-5, atol = 1e-8)
    
    Used to check if float entries are close enough to be considered the same.
    
    Parameters
    ----------
    a : float, array_like
        First numerical input.
    b : float.
        Second numerical input.

    Returns
    -------
    True or False value depending on whether the elements are close enough to be considered the same. 
    '''

    return np.abs(a-b)<(atol+rtol*np.abs(b))

def get_eig_1(mat_config: list) -> list:
    '''
    get_eig_1(mat_config)
    
    Get Eigenvector with specified Eigenvalue = 1.
    
    Parameters
    ----------
    mat_config : array_like
        Input arrays, scalars not allowed.

    Returns
    -------
    eig_1 : Eigenvector with Eigenvalue = 1
    '''
    
    eig_val, eig_vec = eig(mat_config)
    eig_vec = eig_vec.T
    for val, vec in zip(eig_val, eig_vec):
        assert np.allclose(np.dot(mat_config, vec), val*vec)
    eig_1 = eig_vec[near(eig_val, 1.0)][0]
    return eig_1
eig_1 = get_eig_1(mat_config=A)

## Scale the Eigenvector
Make sure the first norm of the vector is equal to 1

In [8]:
def scale(v: list) -> list:
    '''
    scale(v)
    
    Scale the Eigenvector so that all entries >= 0, and the first norm is equal to 1.
    
    Parameters
    ----------
    v : array_like
        Input arrays, scalars not allowed.
    
    Returns
    -------
    scaled_v : array_like
        Scaled version of the array.
    '''

    summ = 0
    scaled_v = []
    for i in v:
        summ += abs(i)
    for j in v:
        scaled_v.append(j / summ)
    for k,m in enumerate(scaled_v):
        scaled_v[k] = abs(np.round(m,2))
    return scaled_v
scaled_eig_1 = scale(eig_1)
scaled_eig_1

[0.11, 0.07, 0.05, 0.05, 0.04, 0.3, 0.16, 0.03, 0.14, 0.05]

## Create the Ranking
Stored in a dictionary, where the key is the page name and the value is the ranking from 0-1 of that page

In [9]:
def ranking(scaled_v: list) -> dict:
    '''
    ranking(scaled_v)
    
    Give a dictionary with page-ranking pairs.
    
    Parameters
    ----------
    scaled_v: array_like
        Input arrays, scalars not allowed.
    
    Returns
    -------
    dic : dict
        Dictionary with page-ranking pairs.
    '''

    dic = {}
    for i, col in enumerate(df.index):
        dic[col] = scaled_v[i]
    return dic
dict_ranking = ranking(scaled_eig_1)
dict_ranking

{'columbidae': 0.11,
 'domestic pigeon': 0.07,
 'passenger pigeon': 0.05,
 'dodo': 0.05,
 'obsolescence': 0.04,
 'telegraph': 0.3,
 'pigeon post': 0.16,
 'vacuum tubes': 0.03,
 'flag semaphore': 0.14,
 'homing pigeon': 0.05}

# Part 2 : Optimizing
### Q: What is a logical change?
### A: It is logical to change entries of pages with high rankings! 
So, this is what we do. We take the highest ranked page, and create a link from it to the page we own.

In [10]:
df_opt = df.copy()

#optimizing - add connection form 'telegraph' to 'columbidae', which seems to be the highest ranked page.
df_opt.loc['columbidae','telegraph'] = 1.0

#converting, scaling, comparing
def produce_ranking(df_mid_max: DataFrame) -> dict:
    '''
    produce_ranking(df_mid_max)
    
    Produce ranking all in one ago for the given DataFrame.
    
    Parameters
    ----------
    df_mid_max: DataFrame
        DataFrame input to for pages to be ranked.
    
    Returns
    -------
    dict_ranking_opt : dict
        Dictionary with page-ranking pairs.
    '''

    df_mid_max = colum_stoch(df_mid_max)
    A_opt = mat_rank(df=df_mid_max, p= 0.85)
    eig_opt = get_eig_1(mat_config=A_opt)
    scaled_eig_opt = scale(eig_opt)
    dict_ranking_opt = ranking(scaled_eig_opt)
    return dict_ranking_opt

#check if optimizing improved our rating...
dict_ranking = produce_ranking(df_mid_max=df_opt)
dict_ranking

{'columbidae': 0.22,
 'domestic pigeon': 0.11,
 'passenger pigeon': 0.08,
 'dodo': 0.08,
 'obsolescence': 0.05,
 'telegraph': 0.18,
 'pigeon post': 0.1,
 'vacuum tubes': 0.04,
 'flag semaphore': 0.07,
 'homing pigeon': 0.06}

It worked! ^^
### Q: But is it the best possible ranking?
### A: Write algorithm to find the optimal connected system by changing exactly one entry and compare!

In [13]:
all = {}
all[('original','original')] = 0.11

def check_opt(df: DataFrame) -> None:
    '''
    check_opt(df)
    
    Produce all possible rankings for the first page by changing exactly one entry. \n
    The function operates on an external dictionary. \n
    Each key pair is a tuple, where a connection from the first to the second value is modified. \n
    
    Parameters
    ----------
    df: DataFrame
        DataFrame input to for pages to be ranked.
    
    '''

    df_change = df.copy()
    cols = df.columns
    rows = df.index
    for i in cols:
        for j in rows:
            if i is j:
                continue
            if df.loc[i,j] == 0:
                df_change.loc[i,j] = 1
            else:
                df_change.loc[i,j] = 0
            dict_ranking = produce_ranking(df_mid_max=df_change)
            all[(j,i)] = dict_ranking['columbidae']
            df_change.loc[i,j] = df.loc[i,j]
    return

check_opt(df=df)
opt_from,opt_to = max(all,key=all.get)

In [12]:
print(f'The optimal option to change is to add a connection from {opt_from} to {opt_to}.')

The optimal option to change is to add a connection from telegraph to columbidae.

### So indeed, the optimal change is to create a connection between telegraph to columbidae!